<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3FcO-Frw9S77OUlA_0NElbkdMezxSzM0</string>
	<key>GCM_SENDER_ID</key>
	<string>269887907542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.risfat.googleMapsRiverpod</string>
	<key>PROJECT_ID</key>
	<string>maps-with-riverpod</string>
	<key>STORAGE_BUCKET</key>
	<string>maps-with-riverpod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269887907542:ios:d92cdcbfe4ac9970588b77</string>
</dict>
</plist>